body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f0f0;
  color: #333;
}

code {
  font-family: 'Courier New', Courier, monospace;
  background-color: #f8f8f8;
  padding: 2px 4px;
  border-radius: 4px;
  color: #333;
}
